@using AfpEat.Models

@{
    Utilisateur utilisateur = (Utilisateur)HttpContext.Current.Session["Utilisateur"];
    List<ProduitPanier> panier = (List<ProduitPanier>)HttpContext.Current.Application[Session.SessionID] ?? new List<ProduitPanier>();
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFPA Eats</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Ressources/Images/Site/Logo_Afpa.jpg")" width="30" height="30" alt="logo">
            AfpaEats
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-th-list"></i> Restaurants</a>
            </div>
        </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Panier", "Home")"><span id="panierCount">@(panier != null ? panier.Count.ToString() : "0")</span> <i class="fa fa-shopping-cart"></i> Panier</a>
            </li>

            @if (utilisateur != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> @utilisateur.Prenom @utilisateur.Nom
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fa fa-user-circle-o"></i> Mon compte</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Deconnexion", "Security")"><i class="fa fa-user-times"></i> Déconnexion</a>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Inscription", "Security")"><i class="fa fa-sign-in"></i> Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Connexion", "Security")"><i class="fa fa-user"></i> Connexion</a>
                </li>
            }

        </ul>


    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
