@using AfpEat.Models

@{
    Utilisateur utilisateur = (Utilisateur)Session["Utilisateur"];
    PanierModel panier = (PanierModel)HttpContext.Current.Application[Session.SessionID] ?? new PanierModel();
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFPA Eats</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light bg-navbar border-bottom box-shadow">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Ressources/Images/Site/logo_afpa.png")" width="38" height="38" alt="logo AFPA">
            AfpaEats
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Produits")"><i class="fa fa-th-list"></i> Produits</a>
                <a class="nav-item nav-link" href="@Url.Action("Commande", "Produits")"><i class="fa fa-cutlery"></i> Commander</a>
            </div>
        </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Panier", "Home")"><span id="panierCount">(@panier.QuantiteTotale)</span> <span id="panierPrixTotal">@panier.PrixFormat €</span> <i class="fa fa-shopping-cart"></i> Panier</a>
            </li>

            @if (utilisateur != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> @utilisateur.Prenom @utilisateur.Nom
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.RouteUrl("MesCommandes")"><i class="fa fa-user-circle-o"></i> Mes Commandes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Deconnexion", "Utilisateurs")"><i class="fa fa-user-times"></i> Déconnexion</a>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Connexion", "Utilisateurs")"><i class="fa fa-user"></i> Connexion</a>
                </li>
            }

        </ul>

    </nav>

    @RenderSection("jumbotron", required: false)

    <div class="container body-content mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; @DateTime.Now.Year - AFPA Eats
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    @Html.Partial("~/Views/Shared/_FlashMessage.cshtml")
</body>
</html>
