@using AfpEat.Models

@{
    var utilisateur = User.Identity as AfpEat.Models.CustomIdentity;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFPA Eats</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @if (!User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_NavbarGuest.cshtml")
    }
    else if (User.IsInRole("Utilisateur"))
    {
        @Html.Partial("~/Views/Shared/_NavbarUtilisateur.cshtml")
    }
    else if (User.IsInRole("Restaurateur"))
    {
        @Html.Partial("~/Views/Shared/_NavbarRestaurateur.cshtml")
    }
    else if (User.IsInRole("Admin"))
    {
        @Html.Partial("~/Views/Shared/_NavbarAdmin.cshtml")
    }

    @RenderSection("jumbotron", required: false)

    <div class="container body-content mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; @DateTime.Now.Year - AFPA Eats
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    @Html.Partial("~/Views/Shared/_FlashMessage.cshtml")
</body>
</html>
