@model AfpEat.Menu

@{
    ViewBag.Title = "DetailMenu";
}

<h2>Detail @Model.Nom</h2>


@foreach (var categorie in Model.Categories)
{
    List<SelectListItem> data = (List<SelectListItem>)ViewData["cat" + categorie.IdCategorie];
    <div>@categorie.Nom</div>
    @Html.DropDownList("cat" + categorie.IdCategorie, data, "Selectionner", new { @class = "form-control" })
}

<button class="btn btn-danger">Ajouter au panier</button>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMenu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
