@model AfpEat.Models.ConnexionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AFPA Eats | Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-page">

        <div class="login-logo text-center">
            <a href="@Url.Action("Index", "Home")"><b>Afpa</b><span style="color:#44A33D;">Eats</span></a>
        </div>

        <div class="login-box bg-light my-5 p-4 border rounded">

            <div class="text-center">
                <img class="mb-3" src="@Url.Content("~/Ressources/Images/Site/avatar.png")" width="100" height="100" alt="" />
                <h4 class="mb-3 font-weight-normal">Connexion</h4>
            </div>

            <div class="mb-3">
                <!-- alert box -->
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <input type="text" class="form-control" name="login" placeholder="Matricule" value="@(Model != null ? Model.Login : "")">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                </div>
                <div class="text-center">
                    Pas encore de compte ? <a href="#">S'inscrire</a>
                </div>
            }

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
