@model IEnumerable<AfpEat.Models.ProduitPanier>

@{
    ViewBag.Title = "Panier";
    string isConnected = Session["Utilisateur"] != null ? "true" : "false";
}

<h2>Panier</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdProduit }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdProduit }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProduit })
                </td>
            </tr>
        }
    }


</table>

<button id="btnCommande" class="btn btn-danger">Je commande</button>

<div id="modalConnexion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Se Connecter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" class="form-control" name="login" placeholder="Matricule">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
                <div class="mb-3">
                    <button id="btnConnexion" type="submit" class="btn btn-primary btn-block">Se connecter</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCommande").click(function () {

                if (@isConnected) {
                    callCommandeSW();
                } else {
                    $("#modalConnexion").modal('show');
                }
                
            });
        });

        function callCommandeSW() {
            $.ajax({
                    url: '@Url.Action("SaveCommande", "SW")',
                    type: 'POST',
                    data: JSON.stringify({ idSession: '@Session.SessionID' }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        console.log(data);
                    },
                    error: () => alert("Error")
                });
        }

    </script>
}