@model IEnumerable<AfpEat.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdProduit }) |
            <a href="@Url.RouteUrl("DetailProduit", new { nom = AfpEat.Utilities.Helpers.GenerateSlug(item.Nom), id = item.IdProduit })">Details</a> |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdProduit })
        </td>
    </tr>
}

</table>
