@using Humanizer
@model AfpEat.Models.RestaurantDetailViewModel

@{
    ViewBag.Title = Model.Restaurant.Nom;
}

@section jumbotron
{
    <div class="jumbotron jumbotron-fluid bg-dark">

        <div class="jumbotron-background">
            <img src="@Url.Content("~/Ressources/Images/Restaurants/" + Model.Restaurant.Photos.First().Nom)" class="blur ">
        </div>

        <div class="container text-white">

            <h1 class="display-4">@Model.Restaurant.Nom</h1>
            <p class="lead">@Model.Restaurant.Description</p>
            <hr class="my-4">
            <p>@Model.Restaurant.Adresse @Model.Restaurant.CodePostal @Model.Restaurant.Ville</p>

        </div>

    </div>
}

<div id="products">
    @foreach (var item in Model.Produits)
    {
        <h2 class="mb-4">Les @item.Key.Pluralize()</h2>

        <div class="row row-cols-md-2">
            @foreach (var produit in item.Value)
            {
                <div class="col mb-4">

                    @{
                        var itemInPanier = Model.Panier.FirstOrDefault(p => p.GetIdProduit() == produit.IdProduit);

                        var jsonProduit = Newtonsoft.Json.JsonConvert.SerializeObject(new
                        {
                            idProduit = produit.IdProduit,
                            nom = produit.Nom,
                            photo = produit.Photos.First().Nom,
                            description = produit.Description,
                            quantite = itemInPanier?.Quantite ?? 0,
                            prix = produit.Prix
                        });
                    }

                    <div class="card card-produit mb-3" data-produit="@jsonProduit">
                        <div class="row no-gutters">

                            <div class="col-md-4">
                                <img src="@Url.Content("~/Ressources/Images/Produits/" + produit.Photos.First().Nom)" class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body overflow-hidden">
                                    <h5 class="card-title">@produit.Nom</h5>
                                    <p class="card-text">@produit.Description</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-produit" role="document">

        <div class="modal-content">

            <div class="modal-body mb-0 p-0">
                <img class="embed-responsive embed-responsive-16by9 z-depth-1-half" id="modal-img" src="#" />
                <div class="p-3">
                    <h2 id="modal-nom"></h2>
                    <p class="py-4" id="modal-description"></p>
                    <p class="text-muted small">Si vous souffrez d'allergies alimentaires ou si vous suivez un régime alimentaire spécifique veuillez en aviser directement le restaurant avant de passer votre commande.</p>
                </div>
            </div>



            <div class="modal-footer justify-content-between">
                <div>
                    <button id="modal-remove-qte" class="btn btn-light m-1"><i class="fa fa-minus"></i></button>
                    <span id="modal-qte-initiale" class="modal-qte-commande">1</span>
                    <button id="modal-add-qte" class="btn btn-light m-1"><i class="fa fa-plus"></i></button>
                </div>
                <button type="button" id="addToCart" class="btn btn-principal" style="width: 380px;">
                    <div class="d-flex justify-content-between">
                        <div class="mx-5">Ajouter <span class="modal-qte-commande">1</span> à la commande</div>
                        <div class="modal-prix-commande">0,00 €</div>
                    </div>
                </button>
            </div>

        </div>

    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            /*$('.slick-carousel').slick({
                slidesToShow: 4,
                slidesToScroll: 2,
            });*/

            let produit;
            let qte = 1;

            $('#products').on('click', '.card-produit', function () {
                produit = $(this).data("produit");
                qte = 1;

                $(".modal-qte-commande").text('1');
                $("#modal-img").attr('src', '@Url.Content("~/Ressources/Images/Produits/")' + produit.photo);
                $("#modal-nom").text(produit.nom);
                $("#modal-description").text(produit.description);
                $(".modal-prix-commande").text(formatPrix(produit.prix));
                $("#productModal").modal('show');
            });

            $('#productModal').on('click', '#modal-add-qte', function () {
                qte = +$("#modal-qte-initiale").text();
                qte++;
                $(".modal-qte-commande").text(qte);
                $(".modal-prix-commande").text(formatPrix(produit.prix * qte));
            });

            $('#productModal').on('click', '#modal-remove-qte', function () {
                qte = +$("#modal-qte-initiale").text();
                qte = qte == 1 ? 1 : --qte;
                $(".modal-qte-commande").text(qte);
                $(".modal-prix-commande").text(formatPrix(produit.prix * qte));
            });

            $('#productModal').on('click', '#addToCart', function () {
                $.ajax({
                    url: '@Url.Action("AddProduit", "SW")',
                    type: 'POST',
                    data: JSON.stringify({ idProduit: produit.idProduit, idSession: '@Session.SessionID', quantite: qte }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#panierCount").text("(" + data.quantiteTotale + ")");
                        $("#panierPrixTotal").text(data.prixTotalFormat + " €");
                        $("#productModal").modal('hide');
                    },
                    error: () => alert("Error")
                });
            });

            let formatPrix = prix => new Intl.NumberFormat("fr-FR", {style: "currency", currency: "EUR"}).format(prix)

        });
    </script>
}
